version: "3"

services:
  environment: BOT_TOKEN:'5522439425:AAEuspe2aOWG_ao8L1zgrrBG20o_yIy0238'

  tg_bot:
    build:
      context: ./tg_bot/
      dockerfile: Dockerfile
    volumes:
      - ./tg_bot:/usr/src/tg_bot
    env_file:
      - api.env

  api:
    build:
      context: ./api/
      dockerfile: Dockerfile
    volumes:
      - ./api:/usr/src/api
    ports:
      - "80:80"
      - "443:443"
  # nginx:
  #   build:
  #     context: ./docker/nginx
  #     dockerfile: Dockerfile
  #   depends_on:
  #     - web
  #     - postgresdb
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./static/:/static
